# Dependencies
frontend/node_modules/
backend/vendor/

# Build / output
frontend/.svelte-kit/
frontend/.pnpm-store/
frontend/pnpm-lock.yaml
frontend/package-lock.json
backend/composer.lock

# Env
.env

# Logs & cache
*.log
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*

# Laravel / PHP
.phpunit.result.cache
.phpunit.cache

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

# OS
.DS_Store

# Uploads
backend/public/uploads/**/*
!backend/public/uploads/img/image_default.png

# References
references/
