@use 'variables' as v;

#wrapper {
    background: v.$ash-100;
}

body {
    color: v.$ash-700;
    background: v.$ash-100;
}

.sidebar.sidebar-dark {
    background: linear-gradient(180deg, v.$ash-800 0%, v.$ash-700 100%) !important;
    .sidebar-brand-text,
    .nav-link span,
    .sidebar-heading {
        color: v.$ash-300 !important;
    }
    .nav-link {
        color: v.$ash-300 !important;
        &:hover {
            color: v.$ash-100 !important;
        }
    }
    .nav-item.active .nav-link {
        color: v.$ash-100 !important;
        background: v.$ash-600 !important;
    }
    .sidebar-divider {
        border-color: v.$ash-600 !important;
    }
}

.topbar.navbar-light {
    background: v.$ash-50 !important;
    border-color: v.$ash-200 !important;
    .nav-link,
    .text-gray-600 {
        color: v.$ash-700 !important;
    }
    .nav-link:hover {
        color: v.$ash-900 !important;
    }
}

#content-wrapper {
    background: v.$ash-100;
}

#content {
    background: v.$ash-100;
}

a,
button,
.css3animate {
    transition: all .3s;
    color: v.$ash-700;
}

a {
    transition: all .3s;
    color: v.$ash-700;
    &.small {
        font-size: 1em;
        font-weight: 400;
    }
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: v.$ash-900;
    }
    &.accent {
        color: v.$cyan;
        &:hover {
            color: v.$cyan-hover;
        }
    }
}

.bg-login-image {
    background: transparent;
}

.btn-primary {
    background-color: v.$ash-600 !important;
    border-color: v.$ash-600 !important;
    &:hover {
        background-color: v.$ash-700 !important;
        border-color: v.$ash-700 !important;
    }
}

.btn-dark {
    background-color: v.$ash-700 !important;
    border-color: v.$ash-700 !important;
    &:hover {
        background-color: v.$ash-800 !important;
        border-color: v.$ash-800 !important;
    }
}

.dropdown-menu .dropdown-item:hover {
    color: v.$ash-900 !important;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: v.$ash-900 !important;
}

.card {
    border-color: v.$ash-200;
}

.form-control,
.form-select {
    border-color: v.$ash-300;
    &:focus {
        border-color: v.$ash-500;
        box-shadow: 0 0 0 0.2rem rgba(99, 99, 92, 0.15);
    }
}

.navbar {
    .navbar-nav {
        .nav-item-user {
            .nav-link {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
            .dropdown-menu {
                .user-info {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    i {
                        font-size: 3em;
                    }
                }
            }
        }
    }
}

.bg-dansday:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .65;
    z-index: 10;
}

.center-elements {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #000 !important;
}

.z-11 {
    z-index: 11;
}

.dropdown-menu .dropdown-item {
    background: transparent !important;
    padding: .25rem;
    &:hover {
        color: #000 !important;
    }
}

.success {
    color: #1cc88a;
}

.error,
.wrong {
    color: #e74a3b;
}

.sidebar .sidebar-heading {
    padding: .5rem 1rem;
}

.line-breaks {
    white-space: pre-line
}

.custom-width-25 {
    width: 25px;
}

.custom-width-50 {
    width: 50px;
}

.custom-width-150 {
    width: 150px;
}

.min-w-150 {
    min-width: 150px;
}

.max-w-150 {
    max-width: 150px;
}

.img-size-120 {
    width: 120px;
    height: auto;
}

.img-size-120 {
    width: 120px;
    height: auto;
}

.img-maxsize-200 {
    max-width: 200px;
    height: auto;
}

.datatable .h4 {
    font-weight: 900 !important;
}

.text-black-25 {
    color: rgba(0, 0, 0, .25)
}

.remove-image {
    cursor: pointer;
    font-size: .9em;
}

.invalid-feedback {
    display: block !important;
    &.d-none {
        display: none !important;
    }
}

.post-quote {
    font-size: .85em;
}

.form-password {
    position: relative;
    .password-option {
        position: absolute;
        z-index: 100;
        top: 50%;
        margin-top: -8px;
        right: 30px;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
    }
    &:hover .password-option {
        visibility: visible;
        opacity: .75;
    }
}

.topbar .dropdown .dropdown-menu {
    min-width: 300px;
}

.selectpicker-loader {
    width: 30px;
    opacity: .5;
}



@media (min-width: 768px) {
    .sidebar .nav-item .nav-link.padding-sm {
        padding: .5rem 1rem;
    }
}

@media (min-width: 576px) {
    .modal-dialog.modal.lg {
        max-width: 750px;
    }
    .topbar .dropdown .dropdown-menu {
        left: inherit;
    }
}