$ash-50: #f5f5f4;
$ash-100: #e8e8e6;
$ash-200: #cfcfcb;
$ash-300: #b8b8b2;
$ash-400: #9e9e96;
$ash-500: #808078;
$ash-600: #63635c;
$ash-700: #454540;
$ash-800: #212120;
$ash-900: #1c1c1b;
$ash-950: #1a1a19;
$cyan: #6ecad9;
$cyan-hover: #5ab8c6;
